body{
    background-color: aquamarine;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
header{
    background: brown;
    text-align: center;
    padding: 10px;
    margin: 0;

}
nav{
    text-align: center;
}
footer{
    text-align: center;
    background: #1a252f;
    padding: 40px;
    color: white;
}